<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://dynamic.brandcrowd.com/asset/logo/547e6711-66db-4562-bd79-408ef9528e8c/logo-search-grid-1x?logoTemplateVersion=1&v=638446843985570000" class="img-fluid rounded-5" alt="Image Not found" width="80px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/profile">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/list">Profile List</a>
          </li>
        </ul>
        <span class="navbar-text" style="color: white;">
          <a class="nav-link" href="/auth/login">Login </a>
         
        </span>
      </div>
    </div>
  </nav>
  